/e2e/node_modules
/e2e/reports
/e2e/logs
/frontend/node_modules
backend/.factorypath
/e2e/metadata
/e2e/playwright
/playwright
/playwright-code-gen/node_modules
/playwright-code-gen/test-results
*.html
!docs/
!docs/**
/playwright-code-gen/playwright
e2e/src/shared/metadata/environment-info.metadata.json
/playwright-code-gen/dist
/.vscode
e2e/package-lock.json
