# Screenshot configurations
SCREENSHOT_ON_SUCCESS=true

# Report configurations
REPORTS_DIR=reports
SCREENSHOTS_DIR=reports/screenshots

# Browser configurations
BROWSER_NAME=chromium
HEADLESS=true

BASE_URL=http://frontend:5173/

API_BASE_URL=http://backend:8080/api
